
<app-navbar></app-navbar>
   <!--
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <mat-toolbar>
      <span><mat-icon>directions_transit</mat-icon>GoTrippee</span>
      <div class="spacer"></div>  
      <a mat-button routerLink="home"><mat-icon>home</mat-icon></a>
      <a mat-button routerLink="traindetails">Train Details</a>
      <a mat-button routerLink="adminlogin">Admin Login</a>
      <a mat-button routerLink="aboutus">About Us</a>
      <a mat-raised-button color="warn" routerLink="signup">Sing Up</a>
      <a mat-button><mat-icon>share</mat-icon></a>  
    </mat-toolbar> 
 </div> -->
 <!--  </div>
  -----------------------------------------------------------------------------------------------
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="traindetails">Train Details</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Admin Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
      </ul>

   
</nav> -->
<!--  <app-navbar></app-navbar> 
 -->
 
<div class="container-fluid"></div>
<router-outlet></router-outlet>

<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide >
    <img src="../assets/image1.jpg">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../assets/image3.png">
  </ng-template>
  <ng-template carouselSlide>
    <img src="../assets/image2.1.png">
  </ng-template>
</owl-carousel-o> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <mat-toolbar>
      <span><mat-icon>directions_transit</mat-icon>GoTrippee</span>
      <div class="spacer"></div>  
      <a mat-button routerLink="home"><mat-icon>home</mat-icon></a>
      <a mat-button routerLink="traindetails">Train Details</a>
      <a mat-button routerLink="adminlogin">Admin Login</a>
      <a mat-button routerLink="aboutus">About Us</a>
      <a mat-raised-button color="warn" routerLink="signup">Sing Up</a>
      <a mat-button><mat-icon>share</mat-icon></a>  
    </mat-toolbar> -->